* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

section.biodata {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.biodata h2 {
    margin-bottom: 10px;
}

section.biodata p {
    margin: 5px 0;
}

section.tugas {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.tugas h2 {
    margin-bottom: 20px;
}

.tugas-item {
    margin-bottom: 10px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

.tugas-item h3 {
    margin-bottom: 5px;
    font-size: 1.2em;
}